.l-nav {
  background: #eeeeee;
  color: #111111;

  &__items {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
    
    &:hover,
    &:active,
    &.is-active {
      background: rgba(#000, 0.1);
    }
  }
}