{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}
<div class="l-breadcrumb">
    <ol class="l-breadcrumb__items"><!--

        {% if num_parts > "-1" %}
         --><li class="l-breadcrumb__item"><a class="l-breadcrumb__link" href="{{ site.baseurl }}/">Home</a></li><!--
        {% endif %}

        {% if num_parts > "0" %}
            {% for unused in page.content limit:num_parts %}
            {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
            {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

         --><li class="l-breadcrumb__item"><a class="l-breadcrumb__link" href="{{ site.baseurl }}{{previous}}">{{ first_word | capitalize }}</a></li><!--

            {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
            {% endfor %}
        {% endif %}
 --></ol>
</div>