---
layout: default
---
{% assign author = site.authors | where: 'slug', page.author | first %}
{% assign category = site.categories | where: "slug", page.category | first %}
{% assign related_posts = site.posts | where: "category", page.category | where_exp: "item", "item.slug != page.slug" | limit: 3 %}
{% assign related_count = related_posts | size %}

<h1>{{ page.title }}</h1>
<p>
    <small>
        Posted
        {% if category %}
        in <a href="{{ category.url }}">{{ category.title }}</a>
        {% endif %}
        by {{ author.name }} on {{ page.date | date: "%-d %B, %Y" }}
    </small>
</p>

<p>
    Share on:
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url | absolute }}" target="_blank" rel="nofollow">Facebook</a> |
    <a href="http://www.twitter.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url | absolute }}" target="_blank" rel="nofollow">Twitter</a> |
    <a href="mailto:?subject={{ page.title | uri_escape }}&body={{ site.url }}{{ site.baseurl }}{{ page.url }}">Email</a>
</p>

{{ content }}

{% if page.next.url %}
<p><a href="{{ page.next.url }}">Next: {{ page.next.title }}</a></p>
{% endif %}
{% if page.previous.url %}
<p><a href="{{ page.previous.url }}">Prev: {{ page.previous.title }}</a></p>
{% endif %}

<aside>
    {% if related_count > 0 %}
        <h3>Related Posts</h3>
        {% include layout/posts.html posts=related_posts %}
    {% endif %}
</aside>